<f:layout name="Default" />

<f:section name="content">
    <h1>Wordpress Importer</h1>
    <p class="lead">Import your wordpress site into TYPO3.</p>

    <h2>Import data</h2>
    <pre><code>Import file: {importFile}</code></pre>

    <div class="row">
        <div class="col-xs-12 col-lg-3">
            <h3>Found data summary:</h3>
            <table class="table table-bordered table-condensed table-hover">
                <tr>
                    <th>Type</th>
                    <th>Count</th>
                </tr>
                <tr>
                    <td>Categories</td>
                    <td><f:count>{categories}</f:count></td>
                </tr>
                <tr>
                    <td>Tags</td>
                    <td><f:count>{tags}</f:count></td>
                </tr>
                <tr>
                    <td>Pages</td>
                    <td><f:count>{pages}</f:count></td>
                </tr>
                <tr>
                    <td>Posts</td>
                    <td><f:count>{posts}</f:count></td>
                </tr>
                <tr>
                    <td>Attachments</td>
                    <td><f:count>{attachments}</f:count></td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 col-lg-9">
            <h3>Import Wizard:</h3>
            <p><button class="btn btn-primary t3js-action-start-import">Start Import Wizard</button></p>
        </div>
    </div>

    <div id="wizard-content-intro" class="hidden">
        <h3>Step 1</h3>
        <p class="lead">Please choose first which content you want to import.</p>
        <form>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="categories"> Categories
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="tags"> Tags
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="pages"> Pages
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="posts"> Posts
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="attachments"> Attachments
                </label>
            </div>
        </form>
    </div>
    <div id="wizard-content-task-categories" class="hidden">
        <h3>Import Categories</h3>
        <p class="t3js-wait">Please wait...</p>
    </div>
    <div id="wizard-content-task-attachments" class="hidden">
        <h3>Import Attachments</h3>
        <p class="t3js-wait">Please wait...</p>
    </div>
    <div id="wizard-content-task-pages" class="hidden">
        <h3>Import Pages</h3>
        <p class="t3js-wait">Please wait...</p>
    </div>
    <div id="wizard-content-task-tags" class="hidden">
        <h3>Import Tags</h3>
        <p class="t3js-wait">Please wait...</p>
    </div>
    <div id="wizard-content-task-posts" class="hidden">
        <h3>Import Posts</h3>
        <p class="t3js-wait">Please wait...</p>
    </div>
</f:section>